@inherits LayoutComponentBase
@page "/Pages/DanismanDersOnay"
@using FinalTestProject.Services
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<UbysSystemDbContext> UbysSystemDbContext;

@if (SessionState.IsAuthenticated)
{
    <div class="danisman-layout">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-brand">DanismanPage</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/DanismanLayout">Home</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/Pages/DanismanDersOnay">Ders Onay</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/Pages/DanismanOgrGor">Ogrencilere Bak</NavLink>
                    </li>
                    <li class="nav-item">
                        <LogoutComponent />
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Common header or navigation -->
        <header>
            <h1>Danisman Ders Onay here!</h1>
            @if(DersSecimi.Count > 0)
            {
                @foreach (var ders in DersSecimi)
                {
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered table-light border-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Ogrenci Adi</th>
                                    <th scope="col">Ogrenci Dersleri</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@GetOgrenci(ders).Ad</td>
                                    <td>
                                        <ul>
                                            @foreach (var dersAdi in GetDersNames(ders.SecilenDersler))
                                            {
                                                <li>@dersAdi</li>
                                            }
                                        </ul>
                                    </td>
                                    <div class="d-grid gap-2 d-md-block mt-2">
                                        <Button Type="ButtonType.Submit" Color="ButtonColor.Success" @onclick="() => OnClickDersOnay(ders)"> Kabul Et</Button>
                                    </div>
                                    <div class="d-grid gap-2 d-md-block mt-2">
                                        <Button Type="ButtonType.Submit" Color="ButtonColor.Danger" @onclick="() => OnClickDersRet(ders)"> Reddet</Button>
                                    </div>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }

            }
        </header>

    </div>
}
else
{
    <Login />
}
