@inherits LayoutComponentBase
@page "/Pages/DanismanOgrGor"

<div class="danisman-layout">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand">DanismanPage</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/DanismanLayout">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/Pages/DanismanDersOnay">Ders Onay</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/Pages/DanismanOgrGor">Ogrencilere Bak</NavLink>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Common header or navigation -->
    <header>
        <h1>Danisman Ogrencilerinizi Buradan Goruntuleyebilirsiniz!</h1>
        <!-- Add any other user-specific header content here -->
    </header>

    <!-- Hata mesajını göstermek için eklenen kısım -->
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div style="color: red; margin-top: 20px;" class="d-flex justify-content-center">
            @errorMessage
        </div>
    }

    <text> &nbsp; &nbsp; &nbsp;</text>

    @if (Danisman is not null)
    {
        <h2>@Danisman.Ad ogrencileri:</h2>

        @if (TanimliOgrenciler != null && TanimliOgrenciler.Any())
        {
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered table-light border-dark">
                <thead>
                    <tr>
                        <th scope="col">Öğrenci Tc Kimlik No</th>
                        <th scope="col">Öğrenci Adı</th>
                        <th scope="col">Seçilmiş Dersler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ogr in TanimliOgrenciler)
                    {
                        <tr>
                            <td>@ogr.TCKimlikNo</td>
                            <td>@ogr.Ad</td>
                            <td>
                                @if (ogr.SecilmisDersler != null && ogr.SecilmisDersler.Any())
                                {
                                    <ul>
                                        @foreach (var ders_kod in ogr.SecilmisDersler)
                                        {
                                            <li>@ders_kod</li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <span>Hicbir ders seçilmemiş.</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        }
        else
        {
            <p>Henuz bir ogrenci bilgisi bulunamamaktadir...</p>
        }
    }


</div>